/*https://coolors.co/715e51-c9c9ee-000022-6457a6-b0228c*/

*{
	box-sizing: border-box;
}
body{
	background-color:#715E51;
	color:#fff;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin:0;
}

/*Header*/
header{
	background-color:#C9C9EE;
	color:#715E51;
	display:flex;
	align-items: center;
	justify-content: center;
	padding:0.4rem;
	margin-bottom:1rem;
}

main{
	display:flex;
	margin:2rem;
}
#backstory{
	flex:1;
	margin-right:2rem;
}
#specials{
	flex:1;
	border-left:5px solid #C9C9EE;
	padding-left:3rem;
}
#special_image{
	max-width:400px;
}